<% provide(:title, 'About') %>
<%= render 'layouts/navigation' %>
<img src="http://i.imgur.com/huboHXb.jpg?1" id="background-about" >
<div class="row"> 
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
    <div class="well">
      <h1> ABOUT </h1>
      <div id="about">
        <p> Chariot was developed to make transportation better. 
          <ul> 
            <li> Less cars means less traffic and better parking.</li>
            <li> Make travel fun and social.</li>
            <li> Enable carless people. </li>                  
          </ul>
          </p>
          The app is a class project for <a href="https://generalassemb.ly/education/web-development-immersive/atlanta" target="_blank">the Web Development Immersive Program at General Assembly</a>.</p>
        </br>
      </div>
    </div>
  </div>
</div>