section.home {

  .main {
    background-color: #F2F2F2;
/*  border-style: solid;
    border-color: #000000;
    border-width: 1px;*/
    text-align: center;
  }

  a.button {
    background: red;
    border-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .btn-primary {
    background-color: red;
  }

}