section.rides {

  .btn-primary {
    background-color: red;
    /*border-color: black;*/
  }

  .main {
    background-color: #F2F2F2;
    /*border-style: solid;*/
    /*border-color: #000000;*/
    /*border-radius: 30px;*/
    /*border-width: 1px;*/
    text-align: center;
  }
}