section.team {

  img {
    border-radius: 25px 10px / 10px 25px;;
    border: 1px #E0E0EB; 
    
  }

  .main {
    background-color: #F2F2F2;
    /*border-style: solid;
    border-color: #000000;*/
    /*border-radius: 30px/50px;*/
    /*border-radius: 5px 10px / 10px;*/

    border-width: 1px;
    text-align: center;
    /*padding: 50px;*/
  }


}
