<DOCTYPE html>
  <html>
  <head>
    <title> Chariot </title>
    <body>
    <div class="row"> 
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
    <h2> ABOUT </h2>
      <div id="about">
        <p> Chariot was developed to make transportation better. 
          <ul> 
            Less cars means less traffic and better parking. 
            Getting there can be fun and social.
            We enable carless people.                 
          </ul>
        </p>
<!-- <div class="jumbotron"> -->
  <div class="col-xs-12 col-sm-12 col-sm-offset-1 text-center">
  <div class="about-img">
    <img src="images/chariot.png" alt="Welcome to Chariot"><br>
        <p> Chariot is a class project for the Web Development Immersive class project at <a href="https://generalassemb.ly" target="_blank"> General Assembly</a>.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>