<div class="registration">
  <div class="page-header">
    <h1>Sign up</h1>
  </div>

  <form name="registrationForm" ng-submit="register()" novalidate>
    
    <div class="form-group">
      <input type="email"
             name="email"
             class="form-control"
             placeholder="Email"
             ng-model="user.email"
             ng-minlength="5"
             ng-maxlength="40"
             required>
      <div ng-messages="registrationForm.email.$error">
        <div class="text-danger" ng-message="required">You forgot to enter your email address...</div>
        <div class="text-danger" ng-message="minlength">Your email address is too short...</div>
        <div class="text-danger" ng-message="maxlength">Your email address is too long...</div>
        <div class="text-danger" ng-message="email">You did not enter your email address correctly...</div>
      </div>
    </div>

    <div class="form-group">
      <input type="password"
             name="password"
             class="form-control"
             placeholder="Password"
             ng-model="user.password"
             ng-minlength="4"
             ng-maxlength="20"
             required>
      <div ng-messages="registrationForm.password.$error">
        <div class="text-danger" ng-message="required">You forgot to enter your password address...</div>
        <div class="text-danger" ng-message="minlength">Your password is too short...</div>
        <div class="text-danger" ng-message="maxlength">Your password is too long...</div>
    </div>
    <button type="submit"
            class="btn btn-primary"
            ng-disabled="registrationForm.$invalid">Register</button>
  </form>
</div>