<h3>Find a ride to...</h3>
<br>
<div ng-controller="RidesCtrl">
  <form name="addressForm">     
    <div class="form-group">
      <input type="text" ng-model="autocomplete" ng-autocomplete placeholder="Where do I want to go?"class="form-control" id="focusedInput" type="text" details="details">
    </div>
    <button ng-click="geolocation(); {{user.id}}" class="btn btn-primary">Save my ride</button>

    <button ng-click="getRides();" class="btn btn-primary">Ride Me</button>
  </form>

  <h4>Near Start</h4>
  <ul>
    <li ng-repeat="ride in rides.near_start">
      {{ ride.id }}:  {{ ride.latitude }}, {{ ride.longitude }} -->  {{ ride.distance }}

    </li>
  </ul>

  <h4>Near End</h4>
  <ul>
    <li ng-repeat="ride in rides.near_end">
      {{ ride.id }}:  {{ ride.end_latitude }}, {{ ride.end_longitude }} -->  {{ ride.distance }}

    </li>
  </ul>

    
</div>


