<section class="team">
  <div container-fluid>
    <div class="main">
      <h2><br>the developers </h2><br><br>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <img src="images/bl.jpeg" width="129" height="128"><br><br>
          <a href="mailto:bryan.lackey@gmail.com">
            <i class="fa fa-envelope-o"></i></a>
          <a href="https://www.linkedin.com/in/lackeyjb">
            <i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/lackeyjb">
            <i class="fa fa-github"></i></a>
          <p>Bryan Lackey</p>
          <p>Collaboratively administrate empowered markets via plug-and-play networks.
          </p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <img src="images/blng.jpeg" width="129" height="128"><br><br>
          <a href="mailto:@gmail.com">
            <i class="fa fa-envelope-o"></i></a>
          <a href="https://www.linkedin.com/in/bethlaing">
            <i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/laingbeth">
            <i class="fa fa-github"></i></a>
          <p>Beth Laing</p>
          <p>Quickly maximize timely deliverables for real-time schemas.
          </p>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-3">
          <img src="images/mk.png" width="129" height="128"><br><br>
          <a href="mailto:@gmail.com">
            <i class="fa fa-envelope-o"></i></a>
          <a href="https://www.linkedin.com/pub/martin-kikegawa/63/411/42">
            <i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/mkikegawa">
            <i class="fa fa-github"></i></a>
          <p>Martin Kikegawa</p>
          <p>Dynamically procrastinate B2C users after installed base benefits.
          </p>
        </div>
        
        <div class="col-xs-6 col-sm-3">
          <img src="images/mg.jpeg" width="129" height="128"><br><br>
          <a href="mailto:gurliaccio@gmail.com">
          <i class="fa fa-envelope-o"></i></a>
          <a href="https://www.linkedin.com/in/firebad">
            <i class="fa fa-linkedin-square"></i></a>
          <a href="https://github.com/gurliaccio">
            <i class="fa fa-github"></i></a>
          <p>Michael Gurliaccio</p>
          <p>Efficiently unleash cross-media information without cross-media value.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>