<h3>Find a ride</h3>
<br>
<div ng-controller="RidesCtrl">
  <form name="addressForm">     
    <div class="form-group">
      <label class="control-label" for="focusedInput"><a ng-click="geolocation();"><i class="fa fa-location-arrow"></i>Use my location</a></label>
      <input type="text" ng-model="autocomplete" ng-autocomplete placeholder="Search a spot"class="form-control" id="focusedInput" type="text" details="details">
    </div>
  </form>
  <p>{{details.LatLng}}</p>
  <p>{{postionMessage}}</p>
</div>